@use "Home";

.sign-in {
    position: relative;
    min-height: 100vh;
    background: url('../assets/movie-background1.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.477);
        z-index: 1;
    }

    form {
        background-color: rgba(0, 0, 0, 0.719);
        max-width: 500px;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 3rem;
        z-index: 2;
        gap: 0.7rem;
        border-radius: 1rem;

        .label-container {
            @include Home.emailContainer;
            & {
                margin-top: 2rem;
            }
        }

        input {
            @include Home.input;
        }

        h1 {
            color: #fff;
        }

        .errors {
            padding: 0 1rem;
            color: rgb(255, 0, 0);
            font-size: 0.9rem;
            display: flex;
            align-items: center;
            gap: 3px;

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                
                    svg {
                    width: 16px;
                    height: 16px;
                    aspect-ratio: 1 / 1;
                }
            }
        }

        button {
            background-color: rgb(255, 0, 0);
            color: #fff;
            border: none;
            padding: 15px;
            cursor: pointer;
            font-size: 1.2rem;
            margin: 2rem auto 0;
            border-radius: 0.5rem;
            width: 100%;
            max-width: 200px;
        }
    }
}